block footer
    footer.footer#footer 
        .container 
            .footer-bg
                .row 
                    .col-12.col-sm-5.footer-col 
                        .text-block.d-flex.align-items-center
                            span.fa.fa-truck
                            .text Đặt online giao tận nhà
                        .text-block.d-flex.align-items-center
                            span.fa.fa-calendar-day
                            .text 7 ngày đổi trả hàng 
                        .text-block.d-flex.align-items-center
                            span.fa.fa-dolly-flatbed
                            .text Freeship đơn hàng từ 500K
                    .col-12.col-sm-4.footer-col 
                        ul.footer-menu-list.list-style-angle 
                            li: a(href="#") Chính sách giao hàng  
                            li: a(href="#") Chính sách mua hàng  
                            li: a(href="#") Chính sách đổi trả  
                            li: a(href="#") Hướng dẫn mua hàng  
                            li: a(href="#") Giới thiệu  
                            li: a(href="#") Liên hệ 
                    .col-12.col-sm-3.footer-col 
                        +list_social()
                        .relative.mt-3
                            a(href="#" target="_blank"): img(src="css/skin/thongbao-bct.png" width="110px" alt="")
                .copyr 
                    | © 2023 Hoàng Minh Market. Powered by HoangMinh.